@font-face {
    font-family: montserrat;
    src: url('../fonts/Montserrat-Regular.woff') format('woff');
}

body {
    font-family: montserrat;
    font-weight: normal;
    font-style: normal;
    background-color: #89DAFF;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
}

.title {
    background-color: #D94D08;
    color: #37508b;
    height: max-content;
    display: flex;
    align-items: center;
}

.content-wrapper {
    text-align: center;
}

.exercises-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

li {
    margin: 5px;
    padding: 5px;
    border: 3px solid black;
    background-color: #F8793A;
    color: #213145;
    font-weight: bolder;
}